Options -Indexes
RewriteEngine On
RewriteBase /web_tutor_201/application/controllers/

# RewriteRule ^application/models/.*\.php - [F,L,NC]

RewriteRule ^secret/.*\.php - [F,L,NC]

RewriteRule "^$" "index.php"

RewriteRule "^([a-zA-Z0-9]+)$" "index.php?page=$1"

