Options -Indexes
DirectoryIndex /web_tutor_201/application/controllers/index.php
RewriteEngine On
 
RewriteRule ^application/models/.*\ - [F,L,NC]

RewriteRule ^application/controllers/common/.* - [F,L,NC]

RewriteRule ^application/views/.* - [F,L,NC]

RewriteRule ^secret/.* - [F,L,NC]

RewriteRule ^infoClass/([0-9]+)$ "?page=infoClass"

RewriteRule ^infoClass$ "?page=bodyBanner"

RewriteRule "^([a-zA-Z0-9]+)$" "?page=$1"