RewriteEngine On
RewriteBase /assignment_1/application/controllers/

RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !=::1
#RewriteRule ^static/images.*$ - [F,L,NC]

RewriteCond %{REMOTE_ADDR} !=127.0.0.1
RewriteCond %{REMOTE_ADDR} !=::1
RewriteRule ^application/models/.*\.php - [F,L,NC]


RewriteRule "^$" "index.php"

RewriteRule "^([a-zA-Z0-9]+).html$" "index.php?page=$1"
