.flex_wrapper {
    display: flex;
    flex-direction: row;
}

#footer {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.left-box {
    position: absolute;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.center-box {
    position: relative;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.title {
    color: white;
}

.underline {
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #4BBADC;
    transition: .25s;
}

h4:hover~.underline {
    width: 20%;
}

#about-text {
    padding-top: 10px;
    color: #b3b3b3;
    font-size: 1rem;
}

#email-text {
    font-size: 1rem;
    font-weight: 500;
    color: #b3b3b3
    /* color: #797D7F; */
}

.social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.25s;
    color: #b3b3b3;
}

.social a span:hover {
    background: #4BBADC;
}

.center-contain {
    position: absolute;
    height: 100%;
}

.contact {
    position: relative;
    color: #b3b3b3;
    padding-top: 10px;
}

.fas {
    font-size: 1.2rem;
    background: #1a1a1a;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.fas:hover {
    background: #4BBADC;
}

.text {
    padding-top: 8px;
    padding-left: 10px;
    font-size: 1rem;
}

.right-box {
    position: relative;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.footer__input {
    width: 80%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #797D7F;
    color: aliceblue;
}

.footer__input:focus {
    outline-color: #3498db;
}

.btn_subscribe {
    background-color: #4BBADC;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    margin-top: 5%;
    border: none;
    outline: none;
    font-size: 1.0625rem;
    font-weight: 500;
}