:root {
    --background-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-weight: 400;
    font-size: 100%;
    line-height: 1;
    background-color: var(--background-color);
    backface-visibility: hidden;
}