<head>
    <link rel="stylesheet" href="./static/css/aboutUs.css">
    <meta name="description" content="High quality, reliable finding tutor center for your children listens to all your teaching requirements and helps tutors to benefit more by providing available classes to accept and teach.">
    <title>TKT - About Us</title>
</head>

<body>
    <section class="detail_background">
        <div class="part1_AB">
            <video autoplay muted loop id="myVideo">
                <source src="./static/images/background/BA3.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="container_video content">
                <h1 class="title_AB">ABOUT US</h1>
                <br>
                <h2 class="smallTitle_AB"> We Are One Of The Top Tutor Service Websites </h2>
                <br>
            </div>

        </div>
        <div class="container" style="font-weight: 500; font-size: 25px;">
            <p> Với 15 năm kinh nghiệm về giáo dục và đào tạo, chúng tôi có đội ngũ giảng viên chất lượng cao, với sự kiểm định gắt gao từ bên phía trung tâm, chúng tôi sẽ cung cấp cho bạn những dịch vụ học tập tốt nhất, đảm bảo được chất lượng giảng dạy
                và linh hoạt trong giờ giấc. Đây là nơi kết nối, cây cầu tri thức của những con người đam mê giảng dạy và những con người của thế hệ tương lai. </p>
        </div>
        <div class="part2_AB">
            <div class="row_AB">
                <div class="pic_box pic_hidden">
                    <img src="./static/images/background/AB1.jpg">
                </div>
                <div class="pic_box pic_show">
                    <img src="./static/images/background/AB2.jpg">
                </div>
                <div class="pic_box pic_show">
                    <img src="./static/images/background/AB4.jpg">
                </div>
                <div class="pic_box pic_show">
                    <img src="./static/images/background/AB5.jpg">
                </div>
                <div class="pic_box pic_hidden">
                    <img src="./static/images/background/AB6.jpg">
                </div>
            </div>
            <div class="container register" style="text-align: center;">
                <h1 id="title">OUR MEMBERS</h1>
                <br>
                <h3> Meet Some Of Our Creative Members </h3>
            </div>
            <div class="row_AB_2">
                <div class="profile_box">
                    <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.30497-1/c94.0.320.320a/p320x320/84241059_189132118950875_4138507100605120512_n.jpg?_nc_cat=1&ccb=2&_nc_sid=7206a8&_nc_ohc=_umU4Qgu4woAX9HYpyS&_nc_ht=scontent.fsgn2-2.fna&tp=27&oh=44c220214223a5f4cee22ba35e1a126d&oe=5FD8593D">
                    <p class="AB_name">Nguyễn Hữu Trung Nhân</p>
                </div>
                <div class="profile_box">
                    <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.0-9/69317817_2232787580166494_2910884299265802240_n.jpg?_nc_cat=104&ccb=2&_nc_sid=09cbfe&_nc_ohc=gES-9GGOhzMAX-EDZ_R&_nc_ht=scontent.fsgn2-5.fna&oh=58bf3a12ef0f1ad9d3a22090bc8d28f7&oe=5FD897E8">
                    <p class="AB_name">Nguyễn Việt Khoa</p>
                </div>
                <div class="profile_box_last">

                    <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-1/p320x320/17795950_788028711355694_7682949969402284123_n.jpg?_nc_cat=110&ccb=2&_nc_sid=7206a8&_nc_ohc=SIm4LFNAOooAX-i4OXJ&_nc_ht=scontent.fsgn2-6.fna&tp=6&oh=e76272d5367a3078362bb29078195cf4&oe=5FD88B53">
                    <p class="AB_name">Trần Đình Tiến</p>
                </div>
                <div class="profile_box">
                    <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-1/p320x320/67498230_904460066572747_282348165036769280_n.jpg?_nc_cat=100&ccb=2&_nc_sid=7206a8&_nc_ohc=T7E9TC0Y0HIAX_v5HN9&_nc_ht=scontent.fsgn2-6.fna&tp=6&oh=631ce878d265a16ab405e7e0483081f7&oe=5FD6EC2A">
                    <p class="AB_name">Nhan Ngọc Thiện</p>
                </div>
                <div class="profile_box">
                    <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.0-1/c175.0.320.320a/p320x320/122750472_1419978571540708_8889175548379418393_o.jpg?_nc_cat=106&ccb=2&_nc_sid=7206a8&_nc_ohc=fJCAWcDjjmgAX-5Mx9j&_nc_ht=scontent.fsgn2-5.fna&tp=27&oh=1655250d12f3473f3a03d18c7c067404&oe=5FDA1EE6">
                    <p class="AB_name"> Phạm Nhật Phương</p>
                </div>
            </div>
        </div>

    </section>

</body>