<head>
    <meta name="description" content="Find tutors, teachers for your children to improve the grades as well as getting to the top schools by direct one-on-one teaching or group teaching.">
    <title>TKT Education</title>
</head>
<div class="body-wrapper">
    <h1 class="lang" key="BODY_BANNER.HEADER" style="text-align: center; font-size: 60px; font-weight:bolder;padding-top: 30px; padding-bottom:30px; color: #45C0F8;;"></h1>
    <div class="container">
        <div class="row row-register">
            <div class="col-6">
                <div class="basic-item">
                    <div class="course-name">
                        <p>
                            <img src="./static/images/icon/logo.png" class="d-block w-100" alt="...">
                        </p>
                    </div>
                    <a class="thumb" style="background-image: url(./static/images/background/body_parent_image.jpg); width:100%; height:100%; min-height: 360px ">
                        <div class="thumb_bg">

                        </div>
                    </a>
                    <div class="desc course">
                        <p class="title_register lang" key="BODY_BANNER.PARENTS"></p>
                        <ul class="btns">

                            <li>
                                <a key="BODY_BANNER.BUDGES" id="tutor_qu" class="btn-bl lang"></a>
                            </li>
                            <li>
                                <a key="BODY_BANNER.FLEX" id="tutor_fl" class="btn-bl lang"></a>
                            </li>
                            <li>
                                <a key="BODY_BANNER.ENV" id="tutor_en" class="btn-bl lang"></a>
                            </li>
                        </ul>
                        <p>
                            <a id="register-parent" title="Đăng ký" class="btn_register link-more lang" key="BODY_BANNER.REGISTER"></a>
                        </p>
                        <div>
                            <span class="popupTextParent lang" key="BODY_BANNER.POP_BUDGES" id="tutor_qu_pop"></span>
                            <span class="popupTextParent lang" key="BODY_BANNER.POP_FLEX" id="tutor_fl_pop"></span>
                            <span class="popupTextParent lang" key="BODY_BANNER.POP_ENV" id="tutor_en_pop"></span>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="basic-item">
                    <div class="course-name">
                        <p>
                            <img src="./static/images/icon/logo.png" class="d-block w-100" alt="...">
                        </p>
                    </div>
                    <a class="thumb" style="background-image: url(./static/images/background/body_tutor_image.jpg); width:100%; height:100%; min-height: 360px ">
                        <!-- <img src="./static/images/background/body_parent_image.jpg"> -->
                        <!-- <img src="./static/images/background/body_parent_image.jpg" class="d-block h-100 w-100" alt="..."> -->
                        <div class="thumb_bg">
                        </div>
                    </a>
                    <div class="desc course">
                        <p class="title_register lang" key="BODY_BANNER.TUTORS"></p>
                        <ul class="btns">

                            <li>
                                <a id="tutor_ex" class="btn-bl lang" key="BODY_BANNER.EXP"></a>
                            </li>
                            <li>
                                <a id="tutor_ti" class="btn-bl lang" key="BODY_BANNER.TIME"></a>

                            </li>
                            <li>
                                <a id="tutor_at" class="btn-bl lang" key="BODY_BANNER.ATTI"></a>
                            </li>

                        </ul>
                        <p>
                            <a id="register-tutor" title="Đăng ký" class="btn_register link-more lang" key="BODY_BANNER.REGISTER"></a>
                        </p>
                        <div>
                            <span class="popupTextTutor lang" key="BODY_BANNER.POP_EXP" id="tutor_ex_pop"></span>
                            <span class="popupTextTutor lang" key="BODY_BANNER.POP_TIME" id="tutor_ti_pop"></span>
                            <span class="popupTextTutor lang" key="BODY_BANNER.POP_ATTI" id="tutor_at_pop"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 style="text-align: center;" class="lang" key="BODY_BANNER.ACTIVITY"></h2>
        <p class="lang" key="BODY_BANNER.ACTIVITY_CONTENT"></p>
        <img src="./static/images/background/indexBG1.jpg" style="width: 100%">
        <br>
        <br>
        <div class="col-md-8 col-md-offset-2">
            <div class="box_pink"></div>
            <img src="./static/images/background/indexBG1.jpg" class="zero_img">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col-8 col-offset-6">
            <div class="box_blue">
            </div>
            <div class="box_orange">
            </div>
            <img src="./static/images/background/pic1.jpg" alt="Trung tâm &amp; Cơ sở vật chất" class="first_img">
            <img src="./static/images/background/pic2.jpg" alt="Trung tâm &amp; Cơ sở vật chất" class="second_img">
            <img src="./static/images/background/pic3.jpg" alt="Trung tâm &amp; Cơ sở vật chất" class="third_img">
        </div>
        <br>
        <br>
        <br>
    </div>

</div>

<link rel="stylesheet" href="./static/css/bodyBanner.css">
<script src="./static/js/bodyBanner.js"></script>