<head>
    <!--File .css for this document-->
    <!--<link rel="stylesheet" href="contactStyleSheet.css">-->
    <link rel="stylesheet" href="./static/css/contactStyleSheet.css">
    <!--Getting the icon from fontawesome.com-->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>TKT - Contact Info</title>
</head>

<body>
    <div id="contact_wrapper" class="container-fluid">
        <h1 style="text-align: center; font-size: 60px; font-weight:bolder;padding-top: 30px; padding-bottom:30px; color: #262d30;" class="lang" key="CONTACT.TITLE" id="contact_title"></h1>
        <div id="contact_box">
            <div id="contact_map">
                <iframe src="https://www.google.com/maps/d/u/1/embed?mid=15Ey_N4EQvJ5z0DNAVy7e8l70M9Nb8uG2" width="640" height="480"></iframe>
            </div>
            <div id="contact_list">
                <div id="contact_address_phone_email_1">
                    <p><i class='fas fa-map-marker-alt'></i> <span class="lang" key="CONTACT.ADDRESS1"></span></p>
                    <p><i class='fas fa-phone-alt'></i> +089-765432100</p>
                    <p><i class='fas fa-envelope'></i> abc@example.com</p>
                </div>
                <div id="contact_address_phone_email_2">
                    <p><i class='fas fa-map-marker-alt'></i> <span class="lang" key="CONTACT.ADDRESS2"></span></p>
                    <p><i class='fas fa-phone-alt'></i> +089-765432100</p>
                    <p><i class='fas fa-envelope'></i> abc@example.com</p>
                </div>
            </div>
        </div>
    </div>
</body>