<head>
    <link rel="stylesheet" href="../../public/css/footer.css">
</head>

<footer id="footer">
    <div class="container-fluid padding-15">
        <div class="row">
            <div class="col-sm-4">
                <div class="left-box">
                    <h4 class="title">ABOUT US</h4>
                    <div class="underline"></div>
                    <p id="about-text">We are finding the best tutor that you can imagine about. With us you can get the best score for your assigment.</p>
                    <div class="social">
                        <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
                        <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="center-box">
                    <h4 class="title">CONTACT</h4>
                    <div class="underline"></div>
                    <div class="container-fluid center-content">
                        <div class="row contact">
                            <span class="fas fa-map-marker-alt"></span>
                            <span class="text">HCMUT, Ho Chi Minh city</span>
                        </div>
                        <div class="row contact">
                            <span class="fas fa-phone-alt"></span>
                            <span class="text">+089-765432100</span>
                        </div>
                        <div class="row contact">
                            <span class="fas fa-envelope"></span>
                            <span class="text">abc@example.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="right-box">
                    <h4 class="title">FOLLOW US</h4>
                    <div class="underline"></div>
                    <form action="#">
                        <div class="email">
                            <div id="email-text"><span>Email</span> <span style="color: red;">*</span></div>
                            <input id="email-input" type="email" required>
                        </div>
                        <a type="button" class="btn btn_subscribe">Subcribe</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    jQuery(document).ready(function($) {
        $('.num').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>
<!-- Library script -->
<script src="https://kit.fontawesome.com/28d5e6d3cc.js" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="../../public/js/jquery.counterup.min.js"></script>
<script src="../../public/js/scrollbar.js"></script>
<script type="module" src="../../public/js/translate.js"></script>
</body>

</html>