<footer id="footer">
    <div class="container-fluid padding-15">
        <div class="row">
            <div class="col-4">
                <div class="left-box">
                    <span class="title">ABOUT US
                        <div class="underline"></div>
                    </span>
                    <p id="about-text">We are finding the best tutor that you can imagine about. With us you can get the best score for your assigment.</p>
                    <div class="social">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="center-box">
                    <span class="title">CONTACT
                        <div class="underline"></div>
                    </span>
                    <div class="container-fluid">
                        <div class="row contact">
                            <span class="rowContact fas fa-map-marker-alt"></span>
                            <span class="text">HCMUT, Ho Chi Minh city</span>
                        </div>
                        <div class="row contact">
                            <span class="rowContact fas fa-phone-alt"></span>
                            <span class="text">+089-765432100</span>
                        </div>
                        <div class="row contact">
                            <span class="rowContact fas fa-envelope"></span>
                            <span class="text">abc@example.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="right-box">
                    <span class="title">FOLLOW US
                        <div class="underline"></div>
                    </span>
                    <form action="#">
                        <div class="email">
                            <div id="email-text"><span>Email</span> <span style="color: red;">*</span></div>
                            <input class="footer__input" type="email" required>
                        </div>
                        <a type="button" class="btn btn_subscribe">Subcribe</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    jQuery(document).ready(function($) {
        $('.num').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>
<link rel="stylesheet" href="./static/css/footer.css">
<!-- Library script -->
<script src="https://kit.fontawesome.com/28d5e6d3cc.js" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="./static/js/jquery.counterup.min.js"></script>
<script src="./static/js/scrollbar.js"></script>
<script type="module" src="./static/js/translate.js"></script>
<script type="module" src="./static/js/getDomain.js"></script>
</body>

</html>