<head>
    <link rel="stylesheet" href="static/css/formRegisterStyleSheet.css">
    <!--include file ".css" used for this document-->
    <title>TKT - Register</title>
</head>

<body>
    <div id="content1" class="container-fluid">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <div class="form-contain">
                    <div id="formWrapper">

                        <div id="regFormName">
                            <h1 class="lang" key="USER_REGISTER.TITLE"></h1>
                        </div>
                        <!--Draft adding new features; begin-->
                        <div class="tabHeader">
                            <div class="row">
                                <div class="col-4" style="padding-right: 0%;">
                                    <button class="tabButton active lang" id="tabH1" key="USER_REGISTER.PARENT"></button>
                                </div>
                                <div class="col-4 padding-zero">
                                    <button class="tabButton lang" id="tabH2" key="USER_REGISTER.TUTOR"></button>
                                </div>
                                <div class="col-4" style="padding-left: 0%;">
                                    <button class="tabButton lang" id="tabH3" key="USER_REGISTER.ADMIN"></button>
                                </div>
                            </div>
                        </div>
                        <!--Draft adding new features; end-->
                        <div class="regFormBody" id="user">
                            <form class="regFormBodyForm active" id="formParentAndTutor">
                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow lang" key="USER_REGISTER.USER"></h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="username" type="text" name="userName" placeholder="Please enter your new username here">
                                        <p class="validation" id="checkUsername"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow lang" key="USER_REGISTER.EMAIL"></h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="email" type="email" name="email" placeholder="Please enter your email here">
                                        <p class="validation" id="checkEmail"></p>
                                    </div>
                                    <div class="col-2">
                                        <div class="app" id="app-user">
                                            <button id="email_button" style="background-color: transparent;" type="button">
                                                <div style="position:absolute;">
                                                    <span class="tooltiptext">Verify email</span>
                                                </div>
                                                <i class="rowContact fas fa-user-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow lang" key="USER_REGISTER.TOKEN"></h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="token" type="number" name="token" placeholder="Please enter the code you receive from mail here">
                                        <p class="validation" id="checkToken"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow lang" key="USER_REGISTER.PASS"></h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="password" type="password" name="password" placeholder="Please enter your password here">
                                        <p class="validation" id="checkPassword"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow lang" key="USER_REGISTER.PASS_CONF"></h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="confirm-password" type="password" name="rePassword" placeholder="Please type again your password here">
                                        <p class="validation" id="checkConfirmPassword"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <button type="button" id="continue" class="regFormRowBtn1 lang" key="USER_REGISTER.NEXT" disabled></button>
                            </form>
                        </div>



                        <!--Draft adding new features(2); begin-->
                        <div class="regFormBody" id="admin">
                            <form class="regFormBodyForm" id="formAdmin">
                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow">Username</h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="username-admin" type="text" name="userName" placeholder="Please enter your new username here">
                                        <p class="validation" id="checkUsername-admin"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow">Email</h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="email-admin" type="email" name="email" placeholder="Please enter your email here">
                                        <p class="validation" id="checkEmail-admin"></p>
                                    </div>
                                    <div class="col-2">
                                        <div class="app" id="app-admin">
                                            <button id="email_admin_button" style="background-color: transparent;" type="button">
                                                <div style="position:absolute;">
                                                    <span class="tooltiptext">Verify email</span>
                                                </div>
                                                <i class="rowContact fas fa-user-check"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow">Token</h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="token-admin" type="number" name="token" placeholder="Please enter the code you receive from mail here">
                                        <p class="validation" id="checkToken-admin"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow">Password</h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="password-admin" type="password" name="password" placeholder="Please enter your password here">
                                        <p class="validation" id="checkPassword-admin"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow">Confirm Password</h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" id="confirm-password-admin" type="password" name="rePassword" placeholder="Please type again your password here">
                                        <p class="validation" id="checkConfirmPassword-admin"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <div class="row row-margin">
                                    <div class="col-4 margin-label">
                                        <h2 class="regFormRow">Security Code</h2>
                                    </div>
                                    <div class="col-6">
                                        <input class="regFormRowInput" type="password" id="security-code-admin" placeholder="Please enter your security code here">
                                        <p class="validation" id="checkSecurityCode-admin"></p>
                                    </div>
                                    <div class="col-2"></div>
                                </div>
                                <button type="button" id="continue-admin" class="regFormRowBtn1" disabled>Continue</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>


    <script src="static/js/formRegisterStep1Script.js"></script>
    <script type="module" src="./static/js/validation/registerValidNoti.js"></script>