<head>
    <link rel="stylesheet" href="./static/css/info.css">
    <!------ Include the above in your HEAD tag ---------->
    <link href="./static/assets/magicsuggest/magicsuggest-min.css" rel="stylesheet">
    <script src="./static/assets/magicsuggest/magicsuggest-min.js"></script>
    <script type="module" src="./static/js/infoAdmin.js"></script>
    <script type="module" src="./static/js/infoValidNoti.js"></script>
</head>

<body>
    <div class="container-fluid register">
        <div class="row">
            <div class="col-md-3 register-left">
                <!-- <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" /> -->


                <div>
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="Profile image" id="image">
                </div>
                <h3>Welcome</h3>
                <p>Your profile!</p>

            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Admin Profile</h3>
                        <form>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group form-distance tooltip">
                                        <input type="text" class="form-control fname_validation" placeholder="First Name *" id="edit_admin_fname" name="ffname" disabled required />
                                        <span class="tooltiptext">First name</span>
                                    </div>
                                    <div class="form-group form-distance tooltip">
                                        <input type="text" class="form-control lname_validation" placeholder="Last Name *" id="edit_admin_lname" name="llname" disabled required />
                                        <span class="tooltiptext">Last name</span>
                                    </div>
                                    <div class="form-group form-distance tooltip">
                                        <input id="edit_admin_phone_number" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control phone_number_validation" placeholder="Your Phone *" value="" disabled />
                                        <span class="tooltiptext">Phone number</span>
                                    </div>
                                    <div class="form-group form-distance tooltip">
                                        <input id="edit_admin_main_pass" type="password" class="form-control main_pass_validation" placeholder="Password *" value="" disabled />
                                        <span class="tooltiptext">Password</span>
                                    </div>
                                    <div class="form-group form-distance tooltip">
                                        <input id="edit_admin_check_pass" type="password" class="form-control check_pass_validation" placeholder="Confirm Password *" value="" disabled />
                                        <span class="tooltiptext">Check password</span>
                                    </div>
                                    <div class="form-group form-distance tooltip">
                                        <div class="maxl">
                                            <label class="radio inline">
                                                <input id="edit_admin_gender_male" type="radio" name="gender"
                                                    value="male" checked disabled>
                                                <span> Male </span>
                                            </label>
                                            <label class="radio inline">
                                                <input id="edit_admin_gender_female" type="radio" name="gender"
                                                    value="female" disabled>
                                                <span>Female </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group form-distance">
                                        <input id="edit_admin_fileInput" type='file' class='uploader' />
                                        <label for="edit_admin_fileInput" class="btnUpload" style="display: none;">Upload
                                            Avatar</label>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="rule_box">
                                        <div class="rule_content">
                                            <p class="lang rule_title" key="ADMIN_RULE.RULE_TITLE"></p>
                                            <p class="lang" key="ADMIN_RULE.FIRST_RULE"></p>
                                            <p class="lang" key="ADMIN_RULE.SECOND_RULE"></p>
                                            <p class="lang" key="ADMIN_RULE.THIRD_RULE"></p>
                                            <p class="lang" key="ADMIN_RULE.FOURTH_RULE"></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="infoBtn">
                                    <input type="button" class="btnRegister btnChange" value="Change" />
                                    <input type="button" class="btnRegister btnCancel" value="Cancel" style="display: none;" />
                                    <input type="button" class="btnRegister btnUpdate" value="Update" style="display: none;" />
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>