<head>
    <link rel="stylesheet" href="./static/css/infoClass.css">
    <script type="module" src="./static/js/infoClass.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>
    <section class="infoClass_background">
        <div class="container">
            <div class="row">
                <h1 style="font-size: 30px;" id="infoClass_topic">Lớp Trợ lý học tập gia sư nam dạy Tiếng Anh lớp 8 Q.Hai</h1>
            </div>
            <div class="row" style="padding:15px 0;border-top:1px solid black;">

                <div class="col-md-4 col-sm-4">
                    <img class="infoClass_img" id="infoClass_avatar" src="https://i.redd.it/8cw9zk4oudq41.png">
                </div>
                <div class="col-md-4 col-sm-4">
                    <p>
                        <i class="fa fa-user"></i><span class="lang" key="INFO_CLASS.UPLOAD_PARENT"></span><span id="infoClass_publisher" class="infoClass_style">Phương</span>
                    </p>
                    <p>
                        <i class="far fa-calendar-alt"></i><span class="lang" key="INFO_CLASS.UPLOAD_DATE"></span><span id="infoClass_post_date">21-01-1999</span>
                    </p>
                    <p>
                        <i class="fa fa-book"></i><span class="no-padding lang" key="INFO_CLASS.SUBJECT"></span><span id="infoClass_weakness"></span>
                    </p>
                    <p class="no-padding">
                        <i class="fa fa-map-marker"></i>
                        <span id="infoClass_ward">A</span>,<span id="infoClass_district">B</span>,<span id="infoClass_city">C</span>, Việt Nam
                    </p>
                </div>

                <div class="col-md-4 col-sm-4">
                    <p>
                        <i class="fa fa-venus-mars"></i><span class="lang" key="INFO_CLASS.GENDER_TUTOR"></span><span id="infoClass_tutor_gender"></span>
                    </p>
                    <p>
                        <i class="fa fa-user-o "></i><span class="lang" key="INFO_CLASS.NO_STUDENT"></span><span id="infoClass_no_students"></span>
                    </p>
                    <p>
                        <i class="fa fa-book "></i><span class="lang" key="INFO_CLASS.SCHEDULE"></span><span id="infoClass_no_lesson_per_week ">2</span> <span class="lang" key="INFO_CLASS.LESSON"></span>
                    </p>

                    <p>
                        <i class="fa fa-money "></i><span class="lang" key="INFO_CLASS.FEE"></span><span id="infoClass_salary_per_lesson" class="infoClass_style">1.000.000</span> vnđ
                    </p>
                </div>

                <!-- <div class="col-md-4 col-sm-4 ">
                    <div class="header-study-group-right ">
                    </div>
                </div> -->
            </div>
            <div style="padding:15px 0;border-top:1px solid black; " style="display: block;">
                <h1 class="lang" key="INFO_CLASS.DES"></h1>
                <p id="infoClass_description">
                    lo</p>
                <div class="row ">
                    <div class="col-md-4 col-sm-4"></div>
                    <div class="col-md-4 col-sm-4"> <button id="register_button" class="btnRegister lang" key="INFO_CLASS.BUTTON" hidden></button></div>
                    <div class="col-md-4 col-sm-4"></div>
                </div>

            </div>
        </div>
    </section>

</body>