<link rel="stylesheet" href="./static/css/slideNav.css">
<script type="module" src="./static/js/navbar.js"></script>

<nav id="navbar" class="navbar-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 offset-1">
                <a href="bodyBanner">
                    <img id="navbar__logo" src="./static/images/icon/navbarLogo.png" class="logo" alt="Logo ">
                </a>
            </div>
            <div class="col-8 offset-1 text-right">
                <ul id="navbar__options">
                    <li class="navbar__li">
                        <a href="bodyBanner" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_HOMEPAGE"></span>
                        </a>
                    </li>
                    <li class="navbar__li">
                        <a href="aboutUs" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_ABOUTUS"></span>
                        </a>
                    </li>
                    <li class="navbar__li">
                        <a href="classList" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_CLASSESLIST"></span>
                        </a>
                    </li>
                    <li class="navbar__li">
                        <a role="button" id="logout-button" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_LOGOUT"></span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div id="language_flag" class="flag vn_flag">
                        </a>
                    </li>
                    <li>
                        <a href="contact"><span class="lang contact-us" key="COMMON.NAVBAR_CONTACT"></span></a>
                    </li>
                    <li>
                        <a href="infoAdmin">
                            <img id="ava" src="https://image.ibb.co/n7oTvU/logo_white.png" class="flag">
                        </a>
                    </li>
                    <li>
                        <span style="font-size:30px;cursor:pointer" id="hamberger-navbar">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </span>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div id="mySidenav" class="sidenav">
    <a class="closebtn" id="hamberger-navbar-close">&times;</a>
    <a href="aboutUs" class="lang" key="COMMON.NAVBAR_ABOUTUS">About</a>
    <a href="infoAdmin" class="lang" key="COMMON.NAVBAR_PROFILE">Infomation</a>
    <a href="classList" class="lang" key="COMMON.NAVBAR_CLASSESLIST">Classes&nbsp;List</a>
    <a href="contact" class="lang" key="COMMON.NAVBAR_CONTACT">Contact</a>
</div>