<nav id="navbar" class="navbar-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 offset-1">
                <a href="#">
                    <img id="navbar__logo" src="./static/images/icon/navbarLogo.png" class="logo" alt="Logo">
                </a>
            </div>
            <div class="col-8 offset-1 text-right">
                <ul>
                    <li class="navbar__li">
                        <a href="bodyBanner" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_HOMEPAGE"></span>
                        </a>
                    </li>
                    <li class="navbar__li">
                        <a href="aboutUs" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_ABOUTUS"></span>
                        </a>
                    </li>
                    <li class="navbar__li">
                        <li class="navbar__li">
                            <a class="navbar-wrapper__link">
                                <span class="lang" key="COMMON.NAVBAR_CLASS"></span>
                            </a>
                            <div class="dropdown-container">
                                <ul>
                                    <li>
                                        <a href="registerClass" class="dropdown__item lang" key="COMMON.NAVBAR_REGISTERCLASS">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="classList" class="dropdown__item lang" key="COMMON.NAVBAR_CLASSESLIST">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </li>
                    <li class="navbar__li">
                        <a href="formLogin" class="navbar-wrapper__link">
                            <span class="lang" key="COMMON.NAVBAR_ACCOUNT"></span>
                        </a>
                        <div class="dropdown-container">
                            <ul>
                                <li>
                                    <a href="formLogin" class="dropdown__item lang" key="COMMON.NAVBAR_LOGIN"></a>
                                </li>
                                <li>
                                    <a href="formRegister" class="dropdown__item lang" key="COMMON.NAVBAR_REGISTRATION"></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar__li">
                        <a class="dnf-avatar">
                            <div id="language_flag" class="flag vn_flag">
                        </a>
                    </li>
                    <li class="navbar__li">
                        <a href="contact"><span class="lang contact-us" key="COMMON.NAVBAR_CONTACT"></span></a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</nav>