<head>
    <link rel="stylesheet" href="./static/css/classView.css">
    <script type="module" src="./static/js/registeredClass.js"></script>
    <meta name="description" content="Registered classes are displayed can be viewed in detail and can be filtered by district, ward, gender.">
    <title>TKT - Registered Class</title>
</head>

<body>
    <div style="background-color: #F0FFFF;">
        <h1 id="registeredTitle" style="text-align: center; font-size: 60px; font-weight:bolder;padding-top: 30px; padding-bottom:30px; color: #45C0F8;"></h1>
        <div class="class-container container-fluid">
            <div class="classView-container">
                <div class="container" id="show"></div>
            </div>
            <div id="page-wrapper"></div>
        </div>
    </div>
</body>

</html>