<head>
    <link rel="stylesheet" href="../../public/css/registerClass.css">
</head>

<div class="body-wrapper">
    <!-- Step how to register -->
    <div class="register_instruction">

    </div>
    <!-- Register form -->
    <div class="register_form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form__title">
                        Description for your new class
                    </div>
                    <div class="form__body">
                        <div class="group-row">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form__field">
                                        <p class="form__field--format">District<span class="required">*</span></p>
                                        <select class="form__select" name="district" id="district" required>
											<option value="" disabled selected>- Choose District - </option>
										</select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__field">
                                        <p class="form__field--format">Ward<span class="required">*</span></p>
                                        <select class="form__select" name="ward" id="ward"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>