<head>
    <link rel="stylesheet" href="./static/css/registerClass.css">
    <link rel="stylesheet" href="./static/assets/magicsuggest/magicsuggest-min.css">
    <script src="./static/assets/magicsuggest/magicsuggest-min.js"></script>
    <script type="module" src="./static/js/registerClass.js"></script>
</head>
<div class="body-wrapper">
    <!-- Step how to register -->
    <div class="register_instruction">

    </div>
    <!-- Register form -->
    <div class="register-form" id="register-form">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form__title">
                        <span class="lang" key="REGISTER.FORM_LABEL"></span>
                    </div>
                    <div class="form__body">
                        <div class="group-row">
                            <div class="row">
                                <div class="col-12">
                                    <span class="form__field--format"><span class="lang" key="REGISTER.TOPIC"></span><span class="required">*</span></span>
                                    <input id="registerClass-topic" name="registerClass-topic" type="text" class="form__select lang" key="REGISTER.TOPIC_PLACEHOLDER" placeholder="Description for your new class">
                                </div>
                            </div>
                        </div>
                        <div class="group-row">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form__field">
                                        <p class="form__field--format"><span class="lang" key="REGISTER.SUBJECT_LABEL"></span><span class="required">*</span></p>
                                        <input type="text" id="registerClass-subject" class="lang form__select" key="REGISTER.SUBJECT_PLACEHOLDER" placeholder="- Choose Subject -">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form__field">
                                        <p class="form__field--format"><span class="lang" key="REGISTER.SALARY"></span><span class="required">*</span></p>
                                        <input id="registerClass-salary_per_lesson" placeholder="Ex: 250000" key="REGISTER.SALARY_PLACEHOLDER" name="registerClass-salary_per_lesson" type="text" class="form__select lang">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-row">
                            <div class="row">
                                <div class="col-6">
                                    <p class="form__field--format"><span class="lang" key="REGISTER.NO_LESSON_PER_WEEK"></span><span class="required">*</span></p>
                                    <form id="registerClass-no_lesson_per_week" name="reigsterClass-no_lesson_per_week">
                                    </form>
                                </div>
                                <div class="col-6">
                                    <p class="form__field--format"><span class="lang" key="REGISTER.TIME_PER_LESSON"></span><span class="required">*</span></p>
                                    <form id="registerClass-time_per_lesson" name="registerClass-time_per_lesson">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="group-row">
                            <div class="row">
                                <div class="col-6">
                                    <p class="form__field--format"><span class="lang" key="REGISTER.GENDER"></span><span class="required">*</span></p>
                                    <form id="registerClass-gender_of_tutor" name="registerClass-gender_of_tutor">
                                    </form>
                                </div>
                                <div class="col-6">
                                    <p class="form__field--format"><span class="lang" key="REGISTER.NO_STUDENT"></span><span class="required">*</span></p>
                                    <input id="registerClass-no_students" placeholder="Ex: 2" key="REGISTER.NO_STUDENT_PLACEHOLDER" name="registerClass-no_students" maxlength="1" type="text" class="form__select lang">
                                </div>
                            </div>
                        </div>
                        <div class="group-row">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form__field">
                                        <p class="form__field--format"><span class="lang" key="REGISTER.DISTRICT_LABEL"></span><span class="required">*</span></p>
                                        <select class="form__select" name="registerClass-district" id="registerClass-district" required>
                                            <option class="lang district_option" key="REGISTER.DISTRICT_PLACEHOLDER" value=""></option>
										</select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form__field">
                                        <p class="form__field--format"><span class="lang" key="REGISTER.WARD_LABEL"></span><span class="required">*</span></p>
                                        <select disabled class="form__select" name="registerClass-ward" id="registerClass-ward">
                                            <option class="lang ward_option" key="REGISTER.WARD_PLACEHOLDER"  value=""></option>
										</select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form__field">
                                        <p class="form__field--format"><span class="lang" key="REGISTER.STREET_LABEL"></span><span class="required">*</span></p>
                                        <select disabled class="form__select" name="registerClass-street" id="registerClass-street">
                                            <option class="lang street_option" key="REGISTER.STREET_PLACEHOLDER"  value=""></option>
										</select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-row">
                            <div class="row">
                                <div class="col-6">
                                    <p class="form__field--format"><span class="lang" key="REGISTER.ADDRESS_LABEL"></span><span class="required">*</span></p>
                                    <input id="registerClass-address" name=" registerClass-address" type="text" class="form__select lang" key="REGISTER.ADDRESS_PLACEHOLDER" placeholder="Enter house address">
                                </div>
                                <div class="col-6">
                                    <p class="form__field--format"><span class="lang" key="REGISTER.PHONE_NUMBER"></span><span class="required">*</span></p>
                                    <input id="registerClass-phone_number" minlength="10" maxlength="10" name="registerClass-phone_number" type="text" class="form__select lang" key="REGISTER.PHONE_NUMBER_PLACEHOLDER" placeholder="Ex: 0969935447">
                                </div>
                            </div>
                        </div>
                        <div class="group-row">
                            <p class="form__field--format"><span class="lang" key="REGISTER.TIME_LABEL"></span><span class="required">*</span></p>
                            <div id="registerClass-schedule_container">
                                <button id="schedule_add_btn" class="schedule_add_btn"> <span class="lang schedule_add_label" key="REGISTER.TIME_ADD_LABEL"></span><i class="fa fa-plus schedule_add_icon" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div class="group-row">
                            <p class="form__field--format"><span class="lang" key="REGISTER.DESCRIPTION"></span></p>
                            <textarea name="registerClass-description" id="registerClass-description" class="lang class_description" placeholder="Describe what you expect to learn from the course here..." key="REGISTER.DESCRIPTION_PLACEHOLDER"></textarea>
                        </div>
                        <div class="group-row">
                            <div class="col text-center">
                                <button type="submit" id="registerClass-submit-btn" class="registerClass-submit-btn lang" key="REGISTER.SUBMIT_PLACEHOLDER">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>