.class-container{
    display: block;
    margin-top: 20px;
}
.class-header{
    border-bottom: 1px solid #069d86;
    padding: 0;
    margin: 0;
}
.class-header > span {
    display: inline-block;
    padding: 6px 40px 6px 10px;
    background: #069d86;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.search-container {
    padding-top: 10px;
    background-color:#4BBADC;
}
.form-select {
    background-color: #fff;
}
.row-wrapper {
    position: relative;
    padding: 5px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    border: 1px solid black;
    margin-top: 10px;
}
.shadow-box {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.class-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.center-ava {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.class-info-col>p {
    margin-bottom: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.class-info-col .group-span{
    border: 1px solid #CCC;
    border-radius: 20px;
    padding: 5px;
    display: inline-block;
    margin: 5px 2px;
    color: white;
    background-color: #00BFFF;
}
.ribbon {
    position: relative;
    width: 75px;
    height: 20px;
    background: #4BBADC;
    left: -15px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.ribbon:before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    border-top: 5px solid #3b5065;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid #3b5065;
}
.pagination {
    display: inline-block;
    margin: auto;
    margin-top: 5px;
  }
.pagination > a {
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: #ddd;}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
    margin: auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#edit-place {
    width: 170px;
    margin-left: 20px;
}
#edit-subject {
    width: 159px;
}
#submit-button {
    border: none;
    background: #069d86;
    color: #fff;
    height: 32px;
    padding: 0 15px;
    border-radius: 4px;
    margin-top: 0 !important;
}
#result-count {
    margin-left: 20px;
}
#class-title {
    font-weight: 700;
    font-size: 16px;
}
#page-wrapper {
    text-align: center;
}
