/*#content1 {*/


/*background-image: url(registerImage1.jpg);*/


/*put an image into the background*/


/*height: 100vh;*/


/*background-size: contain;
  background-repeat: no-repeat;*/


/*background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;*/


/*background-position: center center;*/


/*margin-top: 50px;
  margin-bottom: 35px;

  display: flex;
  justify-content: center;
  align-items: center;*/


/*}*/


/*decorate the form; begin*/


/*
#regFormName {
  width: 801px;
  background-color: #4bbadc;
  margin: auto;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.regFormBody {
  background-color: rgb(255, 255, 255, 0.75);
  width: 801px;
  margin: auto;
  padding-top: 50px;
}

.regFormBodyForm {
  padding: 20px;
}

.regFormRow {
  margin-left: 25px;
  margin-top: 25px;
  width: 180px;
  color: #4bbadc;
  font-size: 18px;
  font-weight: 900;    
}

.regFormRowInput {
  position: relative;
  left: 235px;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.regFormRowBtn1 {
  background-color: #4bbadc;
  display: block;
  margin: 20px 0px 0px 20px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #4bbadc;
  padding: 14px 50px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
  margin: auto;
}

.regFormRowBtn1:hover {
  background-color: #114555;
}
*/


/*decorate the form; end*/


/*decorate the LOGIN form; begin*/

#contentLogin {
    background-image: url('../images/background/registerImage1.jpg');
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: calc(100% - 20px);
    max-width: 500px;
    background-color: rgb(255, 255, 255, 0.75);
    padding: 30px 40px;
}

.login-form h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 35px;
    color: #4bbadc;
}

.textb {
    margin-bottom: 25px;
    position: relative;
}

.textb input {
    width: 100%;
    height: 70px;
    /*border: none;*/
    background-color: #ededed;
    border-radius: 4px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
}

.placeholder {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    line-height: 70px;
    top: 0;
    left: 20px;
    color: #9d9d9d;
    user-select: none;
    pointer-events: none;
}

.textb input:focus~.placeholder,
.textb input:valid~.placeholder {
    left: 10px;
    top: -16px;
}

.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 650;
    color: #4bbadc;
    margin: 20px 0;
}

.checkbox input {
    width: 25px;
    height: 25px;
    background-color: #ededed;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.loginFormBtn {
    background-color: #4bbadc;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #4bbadc;
    padding: 14px 50px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    margin: auto;
}

.loginFormBtn[disabled] {
    background: grey;
}

.loginFormBtn:hover:enabled {
    background-color: #114555;
}

.loginFormBtn:focus {
    outline: none;
}

.login-form a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #4bbadc;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 9px;
    margin-top: 25px
}

.login-form a:hover {
    color: #114555;
}

#checkUserNameP {
    color: red;
    font-weight: 500;
}

#checkPassP {
    color: red;
    font-weight: 500;
}


/*decorate the LOGIN form; end*/