html {
    scroll-behavior: smooth;
}

#header-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.carousel {
    height: 70vh;
}

.carousel-inner {
    position: absolute !important;
    height: 100%;
    width: 100%;
}

.header__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title--format {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.23;
    color: #000000;
    animation: topFadeOut 1s;
}

@keyframes topFadeOut {
    0% {
        position: absolute;
        margin-top: 80%;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.my-center {
    margin-top: auto;
    margin-bottom: auto;
}

.bg-white {
    background-color: white;
}

ul {
    margin-bottom: 0 !important;
}

.logo {
    width: 40%;
    height: auto;
}

.sticky-logo {
    width: 25% !important;
}

.sticky {
    position: fixed !important;
    padding: 0;
    animation: fadeIn 1s;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 1001;
    background: rgba(253, 250, 246, .65);
}

.navbar-wrapper ul {
    padding: 0;
}

.navbar-wrapper ul li {
    list-style: none;
    position: relative;
    display: inline-block;
}

.navbar__li {
    padding-bottom: 30px;
}

.sticky-li {
    top: -10px !important;
    padding-bottom: 0px !important;
}

.navbar-wrapper ul li a {
    position: relative;
    padding: 0px 20px;
    color: black;
    text-transform: uppercase;
    font-size: .8125rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar-wrapper ul li .navbar-wrapper__link::after {
    bottom: 0;
    content: "";
    display: none;
    height: 3px;
    position: absolute;
    background: #4BBADC
}

.navbar-wrapper ul li:hover>.navbar-wrapper__link::after {
    animation: leftToRight 0.5s;
    width: 80%;
    left: 10%;
    display: block;
}

@keyframes leftToRight {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

.navbar-wrapper ul li a:hover,
.navbar-wrapper ul li a:focus {
    opacity: 1;
}

.flag {
    cursor: pointer;
    top: 50%;
    transform: translateY(-10%);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.vn_flag {
    background-image: url("../../static/images//icon/vn_language.png");
}

.en_flag {
    background-image: url("../../static/images/icon/en_language.png");
}

.contact-us {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #4BBADC;
    border-radius: 100px;
    color: #fff;
}

.contact-us-vn {
    padding-left: 45px !important;
    padding-right: 45px !important;
}

.contact-us:hover,
.contact-us:focus {
    border: 1px solid;
    box-shadow: 0 0.5em 0.5em -0.4em #fff;
    transform: translateY(-0.25em);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 100px;
    text-decoration: none;
    color: #fff;
    opacity: 1;
}

.navbar-wrapper ul li .dropdown-container {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
}

.navbar-wrapper ul li .dropdown-container:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-radius: 4px 0 0;
    background: #fff;
}

.dropdown-container ul {
    padding: 0;
    margin: 0;
}

.dropdown-container ul li {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    text-align: left;
    position: relative;
    display: block;
}

.dropdown-container ul li .dropdown__item {
    position: relative;
    display: block;
    color: black;
    height: auto;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: .8125rem;
    font-weight: 700;
    text-decoration: none;
}

.side-dropdown {
    min-width: 200px;
    background-color: #fff;
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.side-dropdown ul {
    margin: 0;
    padding: 0;
}

.side-dropdown ul li {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    text-align: left;
    position: relative;
    display: block;
}

.side-dropdown ul li .side-dropdown__item {
    position: relative;
    display: block;
    color: black;
    padding: 5px 30px;
    text-transform: uppercase;
    font-size: .8125rem;
    font-weight: 700;
    text-decoration: none;
}

.navbar-wrapper ul li:hover>.dropdown-container {
    animation: fadeIn 1s;
    opacity: 1;
    visibility: visible;
}

.dropdown-container a:hover {
    text-decoration: none;
}

.dropdown-container ul li:hover {
    background-color: gray;
}

.dropdown-container ul li:hover .side-dropdown {
    animation: fadeIn 1s;
    opacity: 1;
    visibility: visible;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.go-to-top {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 999;
    transition: 0.5s;
}

.go-to-top-link {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.go-to-top-link:hover {
    text-decoration: none;
    color: #fff;
    background-color: black;
}

.active {
    opacity: 1;
    visibility: visible;
}

.user-ava {
    width: 50%;
    height: auto;
    padding-right: 20px;
}