.body-wrapper {
    position: relative;
    background-color: #d2f9f9;
    padding: 50px 0px;
}

.register-form {
    background-color: white;
    border-left: solid 20px #4BBADC;
    border-right: solid 20px #4BBADC;
    border-bottom: solid 20px #4BBADC;
}

.form__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4BBADC;
    padding: 10px 0px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.form__body {
    width: 100%;
}

.group-row {
    padding: 10px 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form__field--format {
    color: #4BBADC;
    font-size: 18px;
    font-weight: 700;
}

.required {
    color: red;
}

.form__select {
    width: 90%;
    height: 35px;
    border: 1px solid #d3d3d3;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.street_input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.address_input {
    width: 45%;
    height: 35px;
    border: 1px solid #d3d3d3;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.input-label {
    margin-right: 15px;
    font-weight: 700;
}

.schedule_row {
    margin-bottom: 20px;
}

.schedule_add_btn {
    margin-bottom: 20px;
    background-color: #4BBADC;
    border-radius: 100px;
    padding: 10px;
}

.disable {
    background-color: grey;
}

.schedule_add_btn:focus {
    outline: none;
}

.schedule_add_label {
    color: white;
}

.schedule_add_icon {
    margin-left: 10px;
    color: white;
}

.schedule_icon {
    background-color: transparent;
    margin-right: 20px;
}

.schedule_icon:focus {
    outline: none;
}

.schedule_icon i {
    font-size: 24px;
}

.schedule_icon i:hover {
    font-size: 30px;
    transition: .3s;
}

.class_description {
    border: 1px solid black;
    padding: 10px;
    min-height: 150px;
    width: 80%;
}

.registerClass-submit-btn {
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #4BBADC;
    color: #ffffff
}

.registerClass-submit-btn:focus {
    outline: none;
}

.error-message {
    margin-left: 20px;
    color: red;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 90%;
    height: 35px;
    border: 1px solid #d3d3d3;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d3d3d3;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}